@if (pokemon) {
  <a routerLink="/pokemon/{{pokemon.id}}">
    <figure>
      <img [src]="pokemon.assets.image" alt="">
    </figure>

    <header>
      <h2 class="name"> {{ pokemon.names.English }}</h2>

      <div class="types">
        <img [src]="'../../../../assets/types/Icon_'+pokemon.primaryType.names.English+'.webp'" alt="">
        @if (pokemon.secondaryType?.names?.English) {
          <img [src]="'../../../../assets/types/Icon_'+pokemon.secondaryType?.names?.English+'.webp'" alt="">
        }
      </div>
    </header>

    <h1 class="number_dex">#{{ pokemon.dexNr.toString().padStart(3, '0') }}</h1>
  </a>
}
