section#cardPokemon{
  position: relative;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  aspect-ratio: 4/6;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;

  .info-top{
    position: relative;
    width: max-content;
    min-height: max-content;
    padding-top: 1rem;
    height: max-content;

    figure{
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;

      img{
        width: 100%;
        object-fit: contain;
      }
    }

    .shape {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;

      svg {
        position: relative;
        display: block;
        width: calc(273% + 1.3px);
        height: 100px;

        .shape-fill {
          fill: white;
        }
      }

    }
  }

  .info-podemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .types{
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
