main{
    width: 95%;
    margin: 10px auto;

    section{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;

      .empty,
      app-card-pokemon{
        min-width: 300px;
        flex: 1;
      }
    }
}
